.ne-new {
  width: 100%;
  display: flex;
}
  .ne-newContainer {
    flex: 6;
  }
    .ne-top,
    .ne-bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;
    }
    .ne-top h1 {
        color: lightgray;
        font-size: 20px;
      }

      .ne-left {
        flex: 1;
        text-align: center;
      }
      .ne-left img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }

      .ne-right {
        flex: 2;
      }
      .ne-right form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;
      }
          .ne-formInput {
            width: 40%;
          }
          .ne-formInput label {
              display: flex;
              align-items: center;
              gap: 10px;
              justify-content: end;
          }
          .ne-formInput .icon {
                cursor: pointer;
              }

              .ne-formInput input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
              direction: rtl;
            }


          button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: #003173;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
          }
